body{
	font-family: arial, helvetica;
	background: #e8e8e8;
}

.menu{
	list-style: none;
	padding:0;
	background: #18cfcf;
	width: 80%;
	max-width: 1000px;
	margin: auto;
}

.menu li a{
	text-decoration: none;
	color: white;
	padding: 20px;
	display: block;
}

.menu li{
	display: inline-block;
	text-align: center;
}

.menu li a:hover{
	background: #0e8696;
}

.intel{
	width: 10%;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
}

footer{
	background: darkgrey;
	width: 100%;
	float: none;
	color: white;
}

.top{
	width: 100%;
	display: inline-block;
}